@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6f8;
  font-size: 16px;
  line-height: 1.45;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  /* margin: 20px 0; */
}
h2 {
  font-size: 29px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}
h4 {
  font-size: 14px;
  font-weight: normal;
}
.container {
  margin: 0 auto;
  max-width: 1110px;
}
