@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6f8;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: normal;
}
h2 {
  font-size: 29px;
  line-height: 34px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin: 1rem 0;
}
h4 {
  font-size: 14px;
  line-height: 18 px;
  font-weight: normal;
  color: #6e8098;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}
